.Weather {
  font-family: "Zen Maru Gothic", sans-serif;
  border: 1px solid #97a8c1;
  padding: 16px;
  padding-top: 18px;
  padding-left: 28px;
  padding-right: 28px;
  padding-bottom: 18px;

  border-radius: 4px;
  color: #4c535e;
}

.Weather form {
  margin-bottom: 20px;
}

.Weather h1 {
  font-size: 24px;
  font-weight: 100;
  margin: 20px 0 0 0;
  line-height: 29px;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}

.Weather img {
  height: 64px;
  margin-top: 0;
  margin-bottom: 30px;
  display: inline-block;
}

.Weather .temperature {
  font-weight: bold;
  color: black;
  font-size: 64px;
  line-height: 0;
  font-weight: 400;
  position: relative;
  margin-top: 100px;
  margin-left: 10px;
}

.Weather .unit {
  color: rgb(135, 135, 135);
  font-size: 16px;
  font-weight: 400;
  position: relative;
  top: -32px;
  margin-left: 5px;
}

@media (max-width: 808px) {
  .Weather {
    border: none;
  }
}
